/* General */
body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px; 
}

/* Button CSS */
.btn {
  width: 100px;
  text-align: center;
  padding: 0;
  margin: 5px;
  background-color:#3c4047;
}
.btn:hover, .btn-large:hover {
  background-color:#3c4047;

}
/* Cover Container */
#cover {
  position: relative;
  margin-bottom: 50px;
}

/* Title Text */
#title {
  position: absolute;
  bottom: 4px;
  left: 0;
  background-color: #3c4047;
  opacity: .9;
  width: 100vw;
  text-align: center;
  color: white;
}

/* Card Title */
.card-title {
  font-family: 'Paytone One', sans-serif;
  letter-spacing: 2px;
}

/* Header Row Text */
.header-row{
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  text-align: right;
}

